apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: spam-classifier
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      initContainers:
      - name: fix-permissions
        image: busybox
        command: ['sh', '-c', 'chmod -R 777 /mlflow && mkdir -p /mlflow/db /mlflow/artifacts']
        volumeMounts:
        - name: mlflow-data
          mountPath: /mlflow
      containers:
      - name: mlflow
        image: abhikkumar04/mlflow-server:latest
        ports:
        - containerPort: 5000
          name: http
        volumeMounts:
        - name: mlflow-data
          mountPath: /mlflow
        env:
        - name: MLFLOW_BACKEND_STORE_URI
          value: "sqlite:////mlflow/mlflow.db"
        - name: MLFLOW_ARTIFACT_ROOT
          value: "/mlflow/artifacts"
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
      volumes:
      - name: mlflow-data
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow-service
  namespace: spam-classifier
  labels:
    app: mlflow
spec:
  type: ClusterIP
  selector:
    app: mlflow
  ports:
  - name: http
    port: 5000
    targetPort: 5000
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-pvc
  namespace: spam-classifier
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
